{:nrepl {:port 8778}

 :dependencies
 [[rum "0.12.11"]
  [com.teknql/shadow-cljs-tailwind-jit "1.0.0"]
  [bidi "2.1.6"]
  [clj-commons/pushy "0.3.10"]]

 :source-paths
 ["src"]

 :dev-http
 {8281 "resources/public"
  8291 "target/browser-test"}

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js/compiled"
        :asset-path "/js/compiled"
        :modules
        {:app {:init-fn portfolio-site.core/init}}
        :dev
        {:build-hooks
         [(teknql.tailwind/start-watch!)]}
        :release
        {:build-hooks
         [(teknql.tailwind/compile-release!)]}
        :devtools
        {:http-root "resources/public"
         :http-port 8281}
        :tailwind/output "resources/public/css/site.css"}}}